<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <title>OglasIMI</title>

  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

  <link rel="stylesheet" href="assets/css/style1.css">
  <script type="text/javascript" th:inline="javascript">
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>


</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="/" class="logo">Oglas<em>IMI</em></a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="index">Početna</a></li>
            <li><a href="jobs">Poslovi</a></li>
            <li><a href="contact">Kontakt</a></li>
            <div sec:authorize="hasAnyAuthority('Poslodavac','Administrator')">
              <li><a href="listaKorisnika">Korisnici</a></li>
            </div>
            <div sec:authorize="hasAuthority('Poslodavac')">
              <li><a href="listaMojihOglasa">Moji oglasi</a></li>
            </div>
            <div sec:authorize="hasAnyAuthority('Poslodavac','Radnik','Administrator')">
              <li><a href="lajkovi">Lajkovi</a></li>
            </div>

            <!--                        <li>-->
            <!--                            <div sec:authorize="hasAnyAuthority('Radnik','Administrator','Poslodavac')">-->
            <!--                                <a href="profile" th:text="${#authentication.getPrincipal().getUsername()}">-->

            <!--                                </a>-->
            <!--                            </div>-->
            <!--                        </li>-->

            <li>
              <div sec:authorize="hasAnyAuthority('Radnik','Administrator','Poslodavac')">
                <a href="profile">
                  <img id="profilnaSlika" th:src="@{${korisnik.getImagePath()}}" alt="" height="40" width="40"></a>
              </div>
            </li>
            <li>
              <div sec:authorize="hasAnyAuthority('Radnik','Administrator','Poslodavac')">
                <form th:action="@{/logout}" method="post">
                  <input id="dugmeLogout" type="submit" value="LOGOUT" />
                </form>
              </div>
            </li>
          </ul>
          <a class='menu-trigger'>
            <span>Meni</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action" style="background-image: url(static/assets/images/banner-image-1-1920x500.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="cta-content">
          <br>
          <br>
          <h2>Pronađite svoj idealan <em>posao</em></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Call to Action End ***** -->




<!-- ***** Fleet Starts ***** -->
<div class="container">
  <br>


  <br><br>
  <p style="font-size:20px; text-align: center;font-weight: bold; width:100%;"> Ovde možete videti poslove na koje ste se aplicirali</p><br>
  <div class="row">
    <div class="col-sm-6" th:each="oglas:${oglasi}" th:id="'ovo'+${oglas.getId()}" style="display: none;">
      <div class="card" style="max-height: 430px;min-height: 430px; box-shadow: 0px 0px 15px rgba(0,0,0,0.1);">
        <div class="card-body">
          <img id="profilnaSlika" th:src="${oglas.getKorisnik().getImagePath()}" alt="" height="40" width="40"/><br>
          <span>Poslodavac: </span><span style="color: #6c757d" th:text="${oglas.getKorisnik().username}"></span><br>
          <form th:action="'mailto:' + ${oglas.getKorisnik().getEmail()}">
            <button type="submit"  sec:authorize="hasAnyAuthority('Radnik','Administrator')" style="font-style: italic;color:#222e6b;cursor: pointer;">Posalji email poslodavcu</button><br>
          </form>
          <span>Radna pozicija: </span><span style="color: #6c757d" th:text="${oglas.getRadnaPozicija()}"></span><br>
          <span>Plata: </span><span style="color: #6c757d" th:text="${oglas.plata}"></span><span style="color: #6c757d" >€</span><br>
          <span>ID oglasa: </span><span style="color: #6c757d" th:text="${oglas.id}"></span><span style="color: #6c757d" ></span>


          <p style="color: black;">Opis posla:</p>
          <p style="height: 120px ;overflow: auto;" th:text="${oglas.opis}"></p>

          <h4 style="color:#ed563b" th:text="${oglas.sektor.nazivSektora}"></h4>
        </div>
      </div>
      <br>
    </div>
  </div>
  <br>
</div>

<!-- ***** Fleet Ends ***** -->


<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>
<script src="assets/js/mixitup.js"></script>
<script src="assets/js/accordions.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>
<script th:inline="javascript">



  var niz = [];

  /*[# th:each="n : ${oglasid}"]*/

  niz.push("[(${n})]");


  /*[/]*/


  var nizoglasa = [];

  /*[# th:each="n : ${svioglasi}"]*/

  nizoglasa.push("[(${n})]");


  /*[/]*/


  for(i=0;i<niz.length;i++) {

    for (j = 0; j < nizoglasa.length; j++) {
      if (niz[i] == nizoglasa[j]) {
        var elem = "ovo" +nizoglasa[j];
        document.getElementById(elem).style.display = "block";
      }

    }
  }

</script>


</body>
</html>