<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Uspesna Registracija</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div><h1>Uspesno ste se registrovali.</h1></div>-->
<!--    <span>Ime:</span><span th:text="${korisnik.name}" ></span><br>-->
<!--    <span>Prezime:</span><span th:text="${korisnik.lastname}" ></span><br>-->
<!--    <span>username:</span><span th:text="${korisnik.username}" ></span><br>-->
<!--    <span>email:</span><span th:text="${korisnik.email}" ></span><br>-->
<!--    <span>password:</span><span th:text="${korisnik.password}" ></span><br>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>OglasIMI</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/style1.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">Oglas<em>Imi</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/" class="active">Početna</a></li>
                        <li><a href="jobs">Poslovi</a></li>
                        <li><a href="contact">Kontakt</a></li>
                        <li><a href="profile"><img id="profilnaSlika" src="assets/images/team-image-1-646x680.jpg" alt="" height="40" width="40"></a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div id="pomoc">
            <div class="caption">
                <div id="nakonRegistracije">
                        <h2 id="naslov">Uspešno ste završili registraciju!</h2>
                        <h6 id="natpis">Vaš zahtev za registraciju je poslat administratoru.</h6>
                    </div>

                <div id="dugmici">
                    <div class="main-button" >
                        <a href="login">Prijava</a>
                    </div>
                    <div class="main-button">
                        <a href="jobs.html">PREGLED POSLOVA</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>
<script src="assets/js/mixitup.js"></script>
<script src="assets/js/accordions.js"></script>
<script src="assets/js/funkcijeReg.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>

</body>
</html>