<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">


    <title>OglasIMI</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/style1.css">

    <script>
        function openForm(){
            document.getElementById("formaIzmena").style.display="block";
        }


        function closeForm(){
            document.getElementById("formaIzmena").style.display="none";
        }

        $(document).ready(function() {


            $('#fileImage').change(function () {
                showImageThumbnail(this);
            });
        });

        function showImageThumbnail(fileInput){
            file=fileInput.files[0];
            reader=new FileReader();

            reader.onload=function(e){
                $('#thumbnail').attr('src',e.target.result);
            };
            reader.readAsDataURL(file);
        }

        function otvori()
        {
            document.getElementById("promenaSlike").style.display="block";
        }
    </script>


    <!--      <script type="text/javascript">-->
    <!--          $(document).ready(function() {-->


    <!--              $('#fileImage').change(function () {-->
    <!--                  showImageThumbnail(this);-->
    <!--              });-->
    <!--          });-->

    <!--          function showImageThumbnail(fileInput){-->
    <!--              file=fileInput.files[0];-->
    <!--              reader=new FileReader();-->

    <!--              reader.onload=function(e){-->
    <!--                $('#thumbnail').attr('src',e.target.result);-->
    <!--              };-->
    <!--              reader.readAsDataURL(file);-->
    <!--          }-->
    <!--      </script>-->

    <!--      <script type="text/javascript">-->


    <!--      $(document).ready(function() {-->
    <!--      $('#photoButton').on('click',function(event) {-->
    <!--      event.preventDefault();-->
    <!--      var href = $(this).attr('href');-->
    <!--      $('#photoModal #employeePhoto').attr('src', href);-->
    <!--      $('#photoModal').modal();-->
    <!--      });-->
    <!--      });-->
    <!--      </script>-->

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">Oglas<em>Imi</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/">Početna</a></li>
                        <li><a href="jobs">Poslovi</a></li>
                        <li><a href="contact">Kontakt</a></li>
                        <div sec:authorize="hasAuthority('Administrator')">
                            <li><a href="listaKorisnika">Korisnici</a></li>
                        </div>
                        <div sec:authorize="hasAnyAuthority('Poslodavac','Administrator')">
                            <li><a href="listaMojihOglasa">Moji oglasi</a></li>
                        </div>
                        <div sec:authorize="hasAnyAuthority('Poslodavac','Radnik','Administrator')">
                            <li><a href="lajkovi">Lajkovi</a></li>
                        </div>

                        <!--                            <li>-->
                        <!--                                <div sec:authorize="hasAnyAuthority('Radnik','Administrator','Poslodavac')">-->
                        <!--                                    <a href="profile" th:text="${#authentication.getPrincipal().getUsername()}">-->

                        <!--                                    </a>-->
                        <!--                                </div>-->
                        <!--                            </li>-->

                        <li>

                            <div sec:authorize="hasAnyAuthority('Radnik','Administrator','Poslodavac')">
                                <a href="profile">
                                    <img id="profilnaSlika" th:src="${korisnik.getImagePath()}" alt="" height="40" width="40"></a>
                            </div>
                        </li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <input id="dugmeLogout" type="submit" value="LOGOUT" />
                            </form>
                        </li>

                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="trainers">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="trainer-item1">
                    <div class="image-thumb">



                        <!--                            </div>-->
                        <div style="text-align:center; font-size:20px; color:blue; font-weight:bold">
                            <span th:utext="${porukaPromenaProfila}"></span>
                        </div>
                        <p>
                            <img th:src="@{${korisnik.getImagePath()}}">
                        </p>
                        <form  th:action="@{'/izmeniSliku/' + ${korisnik.getId()}}" method="post" enctype="multipart/form-data">
                            <div class="custom-file mb-2 col-md-6 mx-auto">fileImage
                                <input oninput="otvori()" type="file" name="fileImage" class="custom-file-input" id="fileImage" accept="image/png, image/jpeg">
                                <label class="custom-file-label" for="fileImage" style="font-size: 10px; text-align: left">
                                    Promenite profilnu sliku
                                </label>

                            </div>
                            <button type="submit" id="promenaSlike" style=" padding: 5px 17px; text-transform: uppercase; font-family: 'Poppins', sans-serif; border-radius: 2px; font-size: 13px; display: none;background-color: #ed563b; border:none;color:white;position: relative; left:140px;" >Promeni sliku</button>
                        </form>
                    </div>
                    <div class="down-content">
                        <span th:text="${korisnik.getUloga().getUloga()}"></span>
                        <p><b>Ime</b><h6 th:text="${korisnik.ime}"></h6></p>
                        <p><b>Prezime</b><h6 th:text="${korisnik.prezime}"></h6></p>
                        <p><b>User name</b><h6 th:text="${korisnik.getUsername()}"></h6></p>
                        <p><b>e-mail</b><h6 th:text="${korisnik.email}"></h6></p>
                        <a sec:authorize="hasAnyAuthority('Radnik','Poslodavac','Administrator')" >
                            <input class="IzmeniDugme" type="button" value="Izmeni" name="Izmeni" onclick="openForm()" />
                        </a>
                        <form id="formaIzmena" th:object="${korisnik}" style="display: none;" name="izmena" th:action="@{'/izmeniProfil/' + ${korisnik.getId()}}" >
                            <br>
                            <input type="text" name="ime" placeholder="Ime" style="margin-bottom: 5px;"><br>
                            <input type="text" name="prezime" placeholder="Prezime" style="margin-bottom: 5px"><br>
                            <input type="text" name="username" placeholder="Username" style="margin-bottom: 5px"><br>
                            <input type="text" name="email" placeholder="E-mail" style="margin-bottom: 5px"><br>
                            <br>
                            <button class="IzmeniDugme" type="submit" style="border-radius: 2px">Sacuvaj promene</button>

                            <button class="IzmeniDugme" onclick="closeForm()" style="border-radius: 2px">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>
<script src="assets/js/mixitup.js"></script>
<script src="assets/js/accordions.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>

</body>
</html>